.fondo-azul-makae{
	background-color: #7EB0CC;
}
.blanco {
	background-color: #FFF;
}
.blanco-borde-inf {
	background-color: #FFF;
	border-bottom: solid;
	border-color: #000;
	border-width: 1px;
}
.img-center  {
 margin: 0 auto;
}
.image-center img {
 margin: 0 auto;
}
.image-center{background-color:#fff;}
section.blurred{background-image:none;}
.fondo-nubes {
	background-image: url(../../images/back-nubes.png) fixed repeat;;
}
.image-center{background-color:#fff;}
section.blurred{background-image:none;}
